.root{
	-fx-background-color:#dcf7f2;
}
.button{
	-fx-pref-width:180.0px;
	-fx-font-weight:bold;
	-fx-font-size:10.0pt;
	-fx-text-fill:black;
 -fx-font-family: 'Times new Roman';
	-fx-background-radius:10px;
	-fx-border-radius:10px;
	
}
.newstyle-button{
	-fx-background-color:#c8f7e5;
	-fx-border-color:black;
	
}
.newstyle-button:hover{
	-fx-background-color:#16ab8f;
	-fx-border-color:black;
}

.tab{
		-fx-text-alignment:center;
		-fx-background-radius:5 5 0 0,4 4 0 0 ,3 3 0 0 ;
		-fx-border-radius:5 5 0 0,4 4 0 0 ,3 3 0 0;
			fx-font-weight: bold;
			 -fx-font-family: 'Times new Roman';
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
     -fx-pref-width: 130.0;
}
.newstyle-tab{
	-fx-background-color:#c8f7e5;
	-fx-border-color:black;
	
}
.newstyle-tab:hover{
	-fx-background-color:#16ab8f;
	-fx-border-color:black;
	
}